/* main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --main-bg-color: #e5e5e5;
  --content-bg-color: #ffffff;
  --orange: #ff881b;
  --section-margin: 2em;
  --title-font-size: 2rem;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
}

html {
  scroll-behavior: smooth;
}

/* animations */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes animateFooter {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* -------- HOME PAGE MOBILE -------- */

/* navbar */

.navbar-title {
  color: var(--content-bg-color);
  font-weight: bold;
  font-size: var(--title-font-size);
}

.navbar-title:hover {
  text-decoration: none;
  color: var(--orange);
  opacity: 0.8;
}

/* banner */

.main-banner {
  background-image: url('../images/race.jpg');
  height: 70vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--section-margin);
}

.header-title {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: var(--content-bg-color);
  text-shadow: 2px 3px 6px #141414;
  font-family: 'Anton', sans-serif;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 1s ease-in;
  -moz-animation: fadein 1s ease-in;
  animation: fadein 1s ease-in;
}

.header-text {
  visibility: hidden;
}

/* modal newsletter */

.newsletter-button {
  width: 55vw;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #343b3f;
  padding: 20px;
  margin: auto;
  width: 90%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-btn {
  align-self: flex-end;
  color: lightgray;
  font-size: 30px;
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

.modal-content > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  color: white;
}

.newsletter-form > input,
textarea {
  margin-bottom: 1.5vh;
  padding: 1.3vh;
  font-family: 'Robot', sans-serif;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.newsletter-check {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter-check > input {
  height: 20px;
  width: 20px;
  margin-right: 4vw;
}

#inscriptionSend {
  align-self: flex-end;
  background-color: #ff881b;
  color: white;
  padding: 1.1vh 5vh;
  border-radius: 5px;
  border: none;
}

.arrow {
  display: none;
}

/* ticketing */

.form-ticketing {
  text-align: center;
  background: var(--content-bg-color);
  width: 90vw;
  margin: auto;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: var(--section-margin);
}

.bloc-form-title {
  display: flex;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.form-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #ff881b;
  padding-top: 0.8vh;
  width: 5vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-weight: bold;
}

.form-label {
  margin-top: 0.7rem;
}

.form-input {
  width: 2.5em;
  height: 2em;
}

.form-price {
  margin-top: 1em;
}

.bloc-total {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
}

.total {
  margin-right: 1vh;
}

.result {
  font-weight: 600;
}

.form-submit {
  width: 90%;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* news */

.news {
  margin-bottom: var(--section-margin);
}

.article {
  margin: var(--section-margin);
}

.card {
  width: 90vw;
}

.card:hover {
  border-bottom: 2px solid var(--orange);
}

.news-title {
  font-weight: bold;
  font-size: var(--title-font-size);
  margin-left: 2em;
}

.news-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #ff881b;
  padding-top: 0.8vh;
  width: 10vh;
}

.news-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.news-btn {
  background-color: var(--content-bg-color);
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* questions */

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-margin);
}

.questions-button {
  width: 65vw;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #01235d, #af3233, #23a6d5, #1c6bfa);
  box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
  background-size: 400%, 400%;
  position: absolute;
  animation: animateFooter 10s ease-in-out infinite;
}

hr {
  width: 90vw;
  margin: 0;
}

.footerList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 1em;
}

.footerItem {
  color: #212529;
}

.footerItem:hover {
  text-decoration: none;
  color: #cccecf;
  opacity: 0.8;
}

.footerList-title {
  font-weight: bold;
}

.footerItemSeparator {
  color: white;
}

.footerList-legal-title {
  color: #ffffff;
}

.footerList-legal {
  color: #ffffff;
}

li {
  list-style-type: none;
}

.footerSocialNetworks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0.6em;
}

.footerSocialNetworks i {
  margin-right: 1em;
}

.fa-instagram {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.fa-instagram:hover {
  color: white;
}

.fa-twitter {
  color: #1da1f3;
}

.fa-twitter:hover {
  color: #1da1f3;
}

.fa-facebook-f {
  color: #3d5a99;
}

.fa-facebook-f:hover {
  color: #3d5a99;
}

.footerLogo {
  display: none;
}

/* -------- HISTORY PAGE MOBILE -------- */

/* banner */

.history-banner {
  background-image: url('../images/history_LeMans_1923.jpg');
  height: 70vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--section-margin);
}

.main-container {
  background-color: white;
  position: relative;
  display: flex;
  margin-top: 1rem;
  margin-inline: 1rem;
  margin-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
}

.box-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.box-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.box-4 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-5 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.box-6 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.history-img {
  align-self: center;
  width: 18rem;
  height: 12.5rem;
}

.fa-car {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--orange);
}

.fa-flag-checkered {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--orange);
}

.fa-tools {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--orange);
}

.history-btn {
  background-color: var(--content-bg-color);
  color: var(--orange);
  border: 1px solid var(--orange);
  align-self: flex-end;
}

.mobile-hidden {
  display: none;
}

/* -------- DESKTOP -------- */

@media screen and (min-width: 768px) {
  /* -------- HOME PAGE DESKTOP -------- */

  /* navbar */

  .navbar-title {
    margin-left: 2em;
  }

  .navbar-content {
    margin-left: auto;
    margin-right: 2em;
  }

  /* header */

  .header-title {
    font-size: 6rem;
  }

  .header-text {
    visibility: visible;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--content-bg-color);
    text-shadow: 1px 2px 5px #2a2a2a;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 51%;
    left: 50%;
    -webkit-animation: fadein 1s ease-in;
    -moz-animation: fadein 1s ease-in;
    animation: fadein 1s ease-in;
    transform: translate(-50%, -50%);
    margin-top: 5vh;
  }

  /* modal */

  .newsletter-button {
    width: 20vw;
    height: 3em;
    background: var(--orange);
    color: var(--content-bg-color);
    border: none;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 66%;
    left: 50%;
  }

  .modal-content {
    width: 40%;
  }

  .newsletter-check > input {
    margin-right: 1vw;
  }

  /* arrow */

  .main-banner {
    height: 100vh;
  }

  .arrow {
    display: block;
    width: 0;
    color: grey;
    position: absolute;
    margin: auto;
    top: 80%;
    left: 49%;
  }

  .arrow:hover {
    color: white;
    text-decoration: none;
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }

  /* ticketing */

  .form-ticketing {
    width: 60vw;
    margin: 10vh auto;
  }

  .form-container {
    flex-direction: row;
  }

  .form-group-container {
    width: 100%;
    height: 100%;
  }

  .form-group {
    width: 50%;
  }

  .form-input {
    width: 22%;
  }

  .total {
    margin-bottom: 2rem;
  }

  /* news */

  .news-articles {
    flex-direction: row;
  }

  .card {
    width: 25vw;
  }

  /* questions */

  .questions-button {
    width: 20vw;
  }

  /* footer */

  footer {
    flex-direction: row;
    align-items: start;
    height: 35vh;
    padding: 3em;
  }

  hr {
    display: none;
  }

  .footerList {
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100%;
  }

  .footerSocialNetworks {
    flex-direction: column;
  }

  .footerLogo {
    display: block;
  }

  .footerLogoImage {
    height: 20vh;
    border-radius: 50px;
  }

  /* -------- HISTORY PAGE DESKTOP -------- */

  .history-banner {
    height: 100vh;
  }

  .header-img {
    width: 100%;
    height: 90vh;
    background-size: cover;
  }

  .main-container {
    margin-inline: 3rem;
    margin-bottom: 3rem;
  }

  .creation,
  .circuit,
  .innovation {
    display: flex;
  }

  .box-1 {
    order: 1;
  }
  .box-2 {
    order: 2;
  }
  .box-3 {
    order: 2;
  }
  .box-4 {
    order: 1;
  }
  .box-5 {
    order: 1;
  }
  .box-6 {
    order: 2;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6 {
    margin: 1rem;
    padding: 1rem;
  }

  /* CSS si organisation du main-container et de son contenu en grid

  .main-container {
    display: grid;
    grid-template-columns: minmax (1fr, auto);
    grid-template-rows: minmax (1fr, auto);
    grid-column-gap: 2rem;
    grid-row-gap : 2rem;
    margin : 2rem;
    text-align: justify;
    grid-template-areas:
    "box-1 box-2"
    "box-4 box-3"
    "box-5 box-6";
  }

  .box-1 { grid-area: box-1; }
  .box-2 { grid-area: box-2; }
  .box-3 { grid-area: box-3; }
  .box-4 { grid-area: box-4; }
  .box-5 { grid-area: box-5; }
  .box-6 { grid-area: box-6; }
  */

  .history-img {
    width: 17.5rem;
    height: 12rem;
    margin: auto;
  }

  .history-img:hover {
    transition: all 1s ease-in-out;
    transform: scale(2);
  }

  /* CSS à ajouter si on veut laisser tout le texte apparent en version desktop et masquer le bouton "voir plus"

  .history-btn {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
  */
}
