* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

main {
    margin: 4vh;
    margin-top: 6vh;
}


/* MOBILE VERSION */

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h2:after {
    content: ' ';
    display: block;
    border-bottom: 3px solid #FF881B;
    padding-top: 0.8vh;
    width: 5vw;
}

/* navbar */

.navbar-title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .navbar-title:hover {
    text-decoration: none;
    color: #FF881B;
    opacity: 0.8;
  }

/* contact form */

.blocContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introContact {
    margin-top: 30px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}

.contactForm > input, textarea {
    margin: 1.5vh 0;
    padding: 2vh;
    font-family: 'Robot', sans-serif;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

#contactSend {
    align-self: flex-end;
    background-color: #FF881B;
    color: white;;
    padding: 1.1vh 5vh;
    border-radius: 5px;
    border: none;
}

.contactForm > label {
    display: flex;
    align-self: flex-start;
}

/* location : map & info */

iframe {
    width: 100%;
    height: 60vh;
    border: 0;
}

.blocLocation {
    display: flex;
    flex-direction: column;
}

.locationContainer {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 8vh;
}

.locationContainer > p {
  margin-top: 4vh;
  font-size: 1.1rem;
}

.location {
    display: flex;
    flex-direction: column;
}

.contactLinks {
  text-decoration: none;
  color: black;
  line-height: 3rem;
}

.location > i {
    margin-right: 0.3vw;
}

.locationTel {
    margin-right: 2vw;
}

/* hotel cards */

.blocHotel {
    margin-top: 70px;
}

.allCardHotel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px; 
}

.cardHotel {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 2fr;
    align-items: center;
    background-color: white;
    max-width: 100vw;
    border-radius: 5px;
    margin: 10px 0px;
}

.cardHotelImg {
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 3px;
    width: 192px;
}

.cardHotelInfo {
    grid-area: 1 / 2 / 3 / 4;
    padding-top: 1.5vh;
}

.cardHotelInfo > p {
    margin-bottom: 1.2vh;
}

.infoButton {
    font-size: 0.9rem;
    color: #FF881B; 
    border-radius: 5px;
    background-color: white;
    border : 2px solid #FF881B;
    cursor: pointer;
    padding: 0.8vh;

}

.infoButton:hover {
    color: white;
    background-color: #FF881B;

}

.cardHotelIcons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 6px;
}

.cardHotelIcons > i {
    padding: 0px 5px
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 30vh;
    background-color: #343B3F;
  }
  
  .footerMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  
  .footerItem {
    color: rgba(255,255,255,.5);
  }
  
  .footerItem:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
  }
  
  li {
    list-style-type: none;
  }
  
  .footerSocialNetworks {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0.6em;
  }
  
  .fa-instagram {
    color: white;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .fa-instagram:hover {
    color: white;
  }
  
  .fa-twitter {
    color: #1da1f3;
  }
  
  .fa-twitter:hover {
    color: #1da1f3;
  }
  
  .fa-facebook-f {
    color: #3d5a99;
  }
  
  .fa-facebook-f:hover {
    color: #3d5a99;
  }
  
  .footerLogo {
    display: none;
  }
  

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
/* navbar */
    .navbar-title {
        margin-left: 2em;
    }

    .navbar-content {
        margin-left: auto;
        margin-right: 2em;
    }

/* contact form */
    .blocContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactForm {
        width: 60vw;
    }

/* location : map & info  */
    .location {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

/* hotel cards */
    .blocLocation {
        flex-direction: row;
        align-items: center;
    }

    .allCardHotel {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .cardHotel{
        grid-template-columns: 1fr 25% 1fr;
        margin: 10px 5px;
    }

    .locationContainer {
        margin: 0px 40px;
        width: 90vw;
    }

/* footer */
  footer {
    flex-direction: row;
  }

  .footerMenu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
    height: 100%;
  }

  .footerItemSeparator {
    display: none;
  }

  .footerSocialNetworks {
    width: 33vw;
  }

  .footerLogo {
    display: block;
    width: 33vw;
  }

  .footerLogoImage {
    height: 20vh;
    border-radius: 50px;
  }
}