/* main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-bg-color: #e5e5e5;
  --content-bg-color: #ffffff;
  --orange: #ff881b;
  --title-font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
}

/* -------- HOME PAGE MOBILE -------- */

/* navbar */

.navbar-title {
  color: var(--orange);
  font-weight: bold;
  font-size: var(--title-font-size);
}

.navbar-title:hover {
  text-decoration: none;
  color: var(--orange);
  opacity: 0.8;
}

/* banner */

.header-img {
  height: 40vh;
  width: 100vw;
}

/* ticketing */

form {
  text-align: center;
  background: var(--content-bg-color);
}

.form-title {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-weight: bold;
}

.form-label {
  margin-top: 0.7rem;
}

.form-input {
  width: 15%;
  height: 2em;
}

.form-price {
  margin-top: 1rem;
}

.form-submit {
  width: 90%;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

.news-title {
  font-weight: bold;
  font-size: 2rem;
}

/* -------- DESKTOP -------- */

@media screen and (min-width: 768px) {
  /* -------- HOME PAGE DESKTOP -------- */

  /* navbar */

  .navbar-title {
    margin-left: 2em;
  }

  .navbar-content {
    margin-left: auto;
    margin-right: 2em;
  }

  /* banner */

  .header-img {
    height: 100vh;
    width: 100%;
  }

  /* ticketing */

  form {
    width: 50vw;
    margin: auto;
  }

  .form-container {
    flex-direction: row;
  }

  .form-group-container {
    width: 100%;
    height: 100%;
  }

  .form-group {
    width: 50%;
  }

  .form-input {
    width: 20%;
  }

  .total {
    margin-bottom: 2rem;
  }
}
