/* main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --main-bg-color: #e5e5e5;
  --content-bg-color: #ffffff;
  --orange: #ff881b;
  --section-margin: 2em;
  --title-font-size: 2rem;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
  scroll-behavior: smooth;
}

/* animations */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* -------- HOME PAGE MOBILE -------- */

/* navbar */

.navbar-title {
  color: var(--orange);
  font-weight: bold;
  font-size: var(--title-font-size);
}

.navbar-title:hover {
  text-decoration: none;
  color: var(--orange);
  opacity: 0.8;
}

/* banner */

.header {
  position: relative;
}

.header-img {
  height: 40vh;
  width: 100%;
  margin-bottom: var(--section-margin);
}

.header-text {
  width: 80%;
  color: var(--content-bg-color);
  text-shadow: 2px 3px 5px #2a2a2a;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  -webkit-animation: fadein 1s ease-in;
  -moz-animation: fadein 1s ease-in;
  animation: fadein 1s ease-in;
  position: absolute;
  top: 38%;
  left: 55%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.arrow {
  display: none;
}

/* ticketing */

form {
  text-align: center;
  background: var(--content-bg-color);
  width: 90vw;
  margin: auto;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: var(--section-margin);
}

.bloc-form-title {
  display: flex;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.form-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #ff881b;
  padding-top: 0.8vh;
  width: 10vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-weight: bold;
}

.form-label {
  margin-top: 0.7rem;
}

.form-input {
  width: 2.5em;
  height: 2em;
}

.form-price {
  margin-top: 1em;
}

.bloc-total {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}

.total {
  margin-right: 1vh;
}

.result {
  font-weight: 600;
}

.form-submit {
  width: 90%;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* news */

.news {
  margin-bottom: var(--section-margin);
}

.article {
  margin: var(--section-margin);
}

.card {
  width: 90vw;
}

.news-title {
  font-weight: bold;
  font-size: var(--title-font-size);
  margin-left: 1em;
}

.news-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #ff881b;
  padding-top: 0.8vh;
  width: 10vh;
}

.news-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.news-btn {
  background-color: var(--content-bg-color);
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* questions */

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-margin);
}

.questions-button {
  width: 65vw;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 30vh;
  background-color: var(--content-bg-color);
}

.footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 1em;
}

.footerItem {
  color: black;
}

.footerItem:hover {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

li {
  list-style-type: none;
}

.footerSocialNetworks {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0.6em;
}

.fa-instagram {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.fa-instagram:hover {
  color: white;
}

.fa-twitter {
  color: #1da1f3;
}

.fa-twitter:hover {
  color: #1da1f3;
}

.fa-facebook-f {
  color: #3d5a99;
}

.fa-facebook-f:hover {
  color: #3d5a99;
}

.footerLogo {
  display: none;
}

 /* -------- HISTORY PAGE MOBILE -------- */

 .bloc-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax (1fr, auto);
  grid-column-gap: 2rem;
  grid-row-gap : 2rem;
  margin : 2rem;
  grid-template-areas:
    "bloc-1"
    "bloc-2"
    "bloc-4"
    "bloc-3"
    "bloc-5"
    "bloc-6";
}

.bloc-1 { grid-area: bloc-1; }
.bloc-2 { grid-area: bloc-2; }
.bloc-3 { grid-area: bloc-3; }
.bloc-4 { grid-area: bloc-4; }
.bloc-5 { grid-area: bloc-5; }
.bloc-6 { grid-area: bloc-6; }

.history-img {
  width: 35rem;
  height: 20rem;
  }


.history-icons {
  width: 2.5rem;
  height: 2.5rem;
  }



/* -------- DESKTOP -------- */

@media screen and (min-width: 768px) {
  /* -------- HOME PAGE DESKTOP -------- */

  /* navbar */

  .navbar-title {
    margin-left: 2em;
  }

  .navbar-content {
    margin-left: auto;
    margin-right: 2em;
  }

  /* banner */

  .header-img {
    height: 100vh;
    width: 100%;
  }

  .header-text {
    width: 60vw;
    top: 65%;
    font-size: 7rem;
  }

  .arrow {
    display: block;
    width: 0;
    color: grey;
    position: absolute;
    margin: auto;
    top: 92%;
    left: 50%;
  }

  .arrow:hover {
    color: grey;
    text-decoration: none;
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }

  /* ticketing */

  form {
    width: 50vw;
    margin: auto;
  }

  .form-container {
    flex-direction: row;
  }

  .form-group-container {
    width: 100%;
    height: 100%;
  }

  .form-group {
    width: 50%;
  }

  .form-input {
    width: 20%;
  }

  .total {
    margin-bottom: 2rem;
  }

  /* news */

  .news-articles {
    flex-direction: row;
  }

  .card {
    width: 25vw;
  }

  /* questions */

  .questions-button {
    width: 20vw;
  }

  /* footer */

  footer {
    flex-direction: row;
  }

  .footerMenu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
    height: 100%;
  }

  .footerItemSeparator {
    display: none;
  }

  .footerSocialNetworks {
    width: 33vw;
  }

  .footerLogo {
    display: block;
    width: 33vw;
  }

  .footerLogoImage {
    height: 20vh;
    border-radius: 50px;
  }

 /* -------- HISTORY PAGE DESKTOP -------- */

.bloc-container {
  display: grid;
  grid-template-rows: minmax (1fr 1fr 1fr, auto);
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap : 2rem;
  margin : 2rem;
  grid-template-areas:
    "bloc-1 bloc-2"
    "bloc-3 bloc-4"
    "bloc-5 bloc-6";
}

.bloc-1 { grid-area: bloc-1; }
.bloc-2 { grid-area: bloc-2; }
.bloc-3 { grid-area: bloc-3; }
.bloc-4 { grid-area: bloc-4; }
.bloc-5 { grid-area: bloc-5; }
.bloc-6 { grid-area: bloc-6; }

.history-img {
  width: 40rem;
  height: 25rem;
}

.history-img:hover{ 
transition: all 1s ease-in-out;
transform: scale(1.5);
}

}














