/* main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --main-bg-color: #e5e5e5;
  --content-bg-color: #ffffff;
  --orange: #ff881b;
  --section-margin: 2em;
  --title-font-size: 2rem;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
  scroll-behavior: smooth;
}

/* animations */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* -------- HOME PAGE MOBILE -------- */

/* navbar */

.navbar-title {
  color: var(--content-bg-color);
  font-weight: bold;
  font-size: var(--title-font-size);
}

.navbar-title:hover {
  text-decoration: none;
  color: var(--orange);
  opacity: 0.8;
}

/* banner */

.main-banner {
  background-image: url("./images/race.jpg");
  height: 70vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--section-margin);
}

.header-title {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: var(--content-bg-color);
  text-shadow: 2px 3px 6px #141414;
  font-family: 'Anton', sans-serif;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: fadein 1s ease-in;
  -moz-animation: fadein 1s ease-in;
  animation: fadein 1s ease-in;
  transform: translate(-50%, -50%);
}

.header-text {
  visibility: hidden;
}

.arrow {
  display: none;
}

/* ticketing */

form {
  text-align: center;
  background: var(--content-bg-color);
  width: 90vw;
  margin: auto;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: var(--section-margin);
}

.bloc-form-title {
  display: flex;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.form-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #FF881B;
  padding-top: 0.8vh;
  width: 10vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-weight: bold;
}

.form-label {
  margin-top: 0.7rem;
}

.form-input {
  width: 2.5em;
  height: 2em;
}

.form-price {
  margin-top: 1em;
}

.bloc-total {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
}

.total {
  margin-right: 1vh;
}

.result {
  font-weight: 600;
}

.form-submit {
  width: 90%;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* news */

.news {
  margin-bottom: var(--section-margin);
}

.article {
  margin: var(--section-margin);
}

.card {
  width: 90vw;
}

.news-title {
  font-weight: bold;
  font-size: var(--title-font-size);
  margin-left: 2em;
}

.news-title:after {
  content: ' ';
  display: block;
  border-bottom: 3px solid #FF881B;
  padding-top: 0.8vh;
  width: 10vh;
}

.news-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.news-btn {
  background-color: var(--content-bg-color);
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* questions */

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-margin);
}

.questions-button {
  width: 65vw;
  height: 3em;
  background: var(--orange);
  color: var(--content-bg-color);
  border: none;
  border-radius: 5px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 30vh;
  background-color: var(--content-bg-color);
}

.footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 1em;
}

.footerItem {
  color: black;
}

.footerItem:hover {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

li {
  list-style-type: none;
}

.footerSocialNetworks {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.fa-instagram-square {
  background-color: white;
  color: white;
  border: none;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.fa-twitter {
  color: #1da1f3;
}

/* -------- DESKTOP -------- */

@media screen and (min-width: 768px) {
  /* -------- HOME PAGE DESKTOP -------- */

  /* navbar */

  .navbar-title {
    margin-left: 2em;
  }

  .navbar-content {
    margin-left: auto;
    margin-right: 2em;
  }

  /* header */

  .header-title {
    font-size: 6rem;
  }

  .header-text {
    visibility: visible;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--content-bg-color);
    text-shadow: 1px 2px 5px #2A2A2A;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-animation: fadein 1s ease-in;
    -moz-animation: fadein 1s ease-in;
    animation: fadein 1s ease-in;
    transform: translate(-50%, -50%);
    margin-top: 5vh;
  }

  .main-banner {
    height: 100vh;
  }

  .arrow {
    display: block;
    width: 0;
    color: grey;
    position: absolute;
    margin: auto;
    top: 80%;
    left: 50%;
  }

  .arrow:hover {
    color: white;
    text-decoration: none;
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }


  /* ticketing */

  form {
    width: 60vw;
    margin: 10vh auto;
  }

  .form-container {
    flex-direction: row;
  }

  .form-group-container {
    width: 100%;
    height: 100%;
  }

  .form-group {
    width: 50%;
  }

  .form-input {
    width: 22%;
  }

  .total {
    margin-bottom: 2rem;
  }

  /* news */

  .news-articles {
    flex-direction: row;
  }

  .card {
    width: 25vw;
  }

  /* questions */

  .questions-button {
    width: 20vw;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: var(--content-bg-color);
  }

  li {
    list-style: none;
  }

  .socialNetworks .footerLogo {
    display: block;
    width: 100%;
  }

  .footerMenu {
    flex-direction: column;
    text-align: left;
  }

  .fa-twitter::before {
    font-family: 'Font Awesome 5 Brands';
    content: '\f099';
  }

  .fa-instagram-square::before {
    font-family: 'Font Awesome 5 Brands';
    content: '\e055';
  }

  .footerLogo {
    display: block;
  }
}
