* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    margin: 4vh;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h2:after {
    content: ' ';
    display: block;
    border-bottom: 3px solid #FF881B;
    padding-top: 0.8vh;
    width: 10vh;
}

.introContact {
    margin-top: 30px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}

.contactForm > input, textarea {
    margin: 1.5vh 0;
    padding: 2vh;
    font-family: 'Robot', sans-serif;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}

#contactSend {
    align-self: flex-end;
    background-color: #FF881B;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}

.contactForm > label {
    display: flex;
    align-self: flex-start;
}

.blocLocation {
    display: flex;
    flex-direction: column;
}

.locationContainer {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    margin-top: 40px;
}

.location {
    margin-top: 30px;
}

.location > a {
    text-decoration: none;
    color: black;
    line-height: 3rem;
}

.location > i {
    margin-right: 5px;
}

.locationTel {
    margin-right: 10px;
}

.blocHotel {
    margin-top: 70px;
}

.allCardHotel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px; 
}

.cardHotel {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 20% 2fr;
    align-items: center;
    background-color: white;
    max-width: 50vh;
    border-radius: 3px;
    margin: 10px 5px;
}

.cardHotelImg {
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 3px;
    width: 25vh;
}

.cardHotelInfo {
    grid-area: 1 / 2 / 3 / 4;
    padding-top: 1.5vh;
}

.cardHotelInfo > p {
    margin-bottom: 2vh;
}

.infoButton {
    text-decoration: none;
    font-size: 0.9rem;
    color: #FF881B; 
    border-radius: 4px;
    background-color: white;
    border : 2px solid #FF881B;
    padding: 0.8vh;

}

.infoButton:hover {
    text-decoration: none;
    color: white;
    background-color: #FF881B;

}

.cardHotelIcons {
    display: flex;
    flex-direction: row;
    grid-area: 1 / 3 / 2 / 4;
}

.cardHotelIcons > i {
    padding: 0px 5px
}


@media screen and (min-width: 768px) {
    .blocContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contactForm {
        width: 100vh;
    }

    .blocLocation {
        flex-direction: row;
        align-items: center;
    }

    .allCardHotel {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .locationContainer {
        margin: 0px 40px;
        width: 120vh;
    }
}