form {
  text-align: center;
}

.form-title {
  font-weight: bold;
  font-size: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-weight: bold;
}

.form-label {
  margin-top: 0.7rem;
}

.form-input {
  width: 15%;
  height: 2em;
}

.form-price {
  margin-top: 1rem;
}

.form-submit {
  width: 90%;
  height: 3em;
  background: #ff881b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  form {
    width: 50vw;
  }

  .form-container {
    flex-direction: row;
  }

  .form-group-container {
    width: 100%;
    height: 100%;
  }

  .form-group {
    width: 50%;
  }

  .total {
    margin-bottom: 2rem;
  }
}
